{% extends 'base.html' %}
{% block content %}
<div class="conteiner">
    <div class="row">
        <div class="col-md-5">
        <a href="{{context.referer}}">
            <i class="glyphicon glyphicon-chevron-left"></i>
        </a>
        </div>
        <div class="col-md-5">
            <h1>CHANGE USER</h1>
        </div>
        <div class="col-md-2">
            {%if context.save%}
                <p>User change successfully</p>
            {%endif%}
        </div>
    </div>
    <form method="POST" action="{{url_for('changeUser', id = context.user.usersID)}}">
  <div class="form-group">
    <label>Name</label>
    <input name="userName" type="userName" class="form-control" value="{{context.user.userName}}" placeholder="Name"  disabled>
  </div>
  <div class="form-group">
      {%if err.userEmail %}
      {%for e in err.userEmail %}
        {{e}}
      {%endfor%}
      {%endif%}
    <label for="exampleInputEmail">E-mail</label>
    <input value="{{context.user.userEmail}}" name="userEmail" type="Email" class="form-control" id="exampleInputEmail" placeholder="Email">
  </div>
  <div class="form-group">
{%if err.userPhone %}
      {%for e in err.userPhone %}
        {{e}}
      {%endfor%}
      {%endif%}
    <label for="exampleInputPhone">Phone</label>
    <input value="{{context.user.userPhone}}" name="userPhone" type="Phone" class="form-control" id="exampleInputPhone" placeholder="Phone">
  </div>
  <div class="form-group">
{%if err.userMobilePhone %}
      {%for e in err.userMobilePhone %}
        {{e}}
      {%endfor%}
      {%endif%}
    <label for="exampleInputMobilePhone">MobilePhone</label>
    <input value="{{context.user.userMobilePhone}}" name="userMobilePhone" type="MobilePhone" class="form-control" id="exampleInputMobilePhone" placeholder="MobilePhone">
  </div>
  <div class="form-group">
      <label for="Status">Status</label>
{%if err.userStatus %}
      {%for e in err.userStatus %}
        {{e}}
      {%endfor%}
      {%endif%}
      <select name="userStatus" id="Status" class="form-control">
          {%if context.user.userStatus%}
          <option value="True">Activate</option>
          <option value="False">Inactivate</option>
          {%else%}
          <option value="False">Inactivate</option>
          <option value="True">Activate</option>
          {%endif%}
      </select>
  </div>
  <div class="form-group">
     <div class="hide" id="coursesD" >
         <select name="userCourses" id="selectCourse" class="form-control">
             {%for course in context.user.courses%}
             <option value="{{course}}">{{course.courseName}}</option>
             {%endfor%}
         </select>
     </div>
      <a href="#" id="coursesB">
        <span  class="glyphicon glyphicon-plus-sign plusIconGreen"></span>
      </a>
  </div>
    <div id="cour" class="hide">
        <ul>
        </ul>
    </div>
  <button type="submit" class="btn btn-default">Save</button>
</form>
</div>
{%endblock%}